*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    background-color: aquamarine;
}

header{
    width: 95%;
    margin: 0 auto;
}

form{
    margin: 0 auto;
    padding: 1rem;
    background-color: greenyellow;
}
#planes{
    border: 0.2rem solid rgb(182, 222, 182);
}
.planesContenedor{
    background-color: rgb(194, 249, 110);   
}
.planesContenedor div p span{
    background-color: whitesmoke;
    padding: 0.2rem;
    font-weight: 600;
    color: black;
}
.spanCapFin{
    padding: 0.2rem;
    background-color: whitesmoke;
    color: green;
    font-weight: 600;
}

.grid{
    margin: 0 auto;
}
.gridFila{
    margin: 0 auto;
    width: 100%;
}