*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    background-color: aquamarine;
}

header{
    width: 95%;
    margin: 0 auto;
}

form{
    margin: 0 auto;
    padding: 1rem;
    background-color: greenyellow;
}

.panel{
    height: 90vh;
    background-color: royalblue;

}
.grid{
    height: 100vh;
    margin: 0 auto;
}
.gridFila{
    margin: 0 auto;
}